@use "variables" as *;

.wrapper {
  @include flexCenter;
  height: 100vh;
  width: 100%;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
}
