@use "variables" as *;

.wrapper {
  @include flexCenter;
  flex-direction: column;
  width: 100%;
  height: $footerHeight;
  background-color: var(--backgroundTertiary);
  border-top: 1px solid var(--borderPrimary);
  font-size: 1em;
  text-align: center;
}
