@use "variables" as *;

:root {
  --backgroundPrimary: #{$primaryDark};
  --backgroundSecondary: #{$secondaryDark};
  --backgroundTertiary: #{$tertiaryDark};
  --foregroundPrimary: #{$primaryLight};
  --foregroundSecondary: #{$secondaryLight};
  --foregroundTertiary: #{$tertiaryLight};

  --borderPrimary: #434956;
}

[data-theme="light"] {
  --backgroundPrimary: #{$primaryLight};
  --backgroundSecondary: #{$secondaryLight};
  --backgroundTertiary: #{$tertiaryLight};
  --foregroundPrimary: #{$primaryDark};
  --foregroundSecondary: #{$secondaryDark};
  --foregroundTertiary: #{$tertiaryDark};

  --borderPrimary: #e5e7eb;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--backgroundSecondary);
  color: var(--foregroundPrimary);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.button {
  @include button(
    var(--foregroundPrimary),
    var(--backgroundPrimary),
    var(--backgroundSecondary)
  );
}

.dangerButton {
  @include button(#ef4444, rgba(#f87171, 15%), rgba(#f87171, 25%));
}
