@use "variables" as *;

.backdrop {
  @include flexCenter;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #000000e1;
  z-index: 100;

  .modal {
    display: flex;
    flex-direction: column;
    width: clamp(35%, 550px, 90%);
    height: min(50%, 500px);
    border-radius: 5px;
    background-color: var(--backgroundSecondary);

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 1em 1.5em;
      border-bottom: 1px solid var(--borderPrimary);

      .title {
        font-size: 1.4em;
        font-weight: bold;
      }

      .closeButton {
        border-radius: 50%;
        width: 2.25em;
        height: 2.25em;
        padding: 0.5em;
        margin: -0.5em;
        transition: background-color 0.25s ease;
        cursor: pointer;

        &:hover {
          background-color: var(--backgroundTertiary);
        }
      }
    }

    .body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1em;
      width: 100%;
      height: 100%;
      padding: 1.5em;
      overflow-y: auto;

      .label {
        display: flex;
        align-items: flex-start;
        gap: 0.5em;
        flex-direction: column;
        font-weight: 500;
        color: var(--foregroundSecondary);

        input[type="text"] {
          width: 100%;
          padding: 0.5em 1em;
          border-radius: 5px;
          border: 1px solid var(--borderPrimary);
          background-color: var(--backgroundTertiary);

          &:focus {
            outline: none;
            border: 1px solid #eaeaea;
          }
        }
      }
    }
  }
}
