@use "variables" as *;

.wrapper {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: space-between;
  width: 64px;
  height: 100%;
  background-color: var(--backgroundTertiary);
  border-right: 1px solid var(--borderPrimary);

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    padding: 60px 0;

    .item {
      @include noDrag;
      @include flexCenter;
      width: 100%;
      height: 64px;
      padding: 0 16px;
      font-size: 1.5rem;
      font-weight: bold;
      transition: all 0.2s ease-in-out;
      cursor: pointer;

      &:hover {
        background-color: var(--backgroundSecondary);
      }
    }
  }
}
